<div class="container mt-3">
    <h2>Listado de clientes</h2>
    <input type="text" class="form-control" placeholder="Buscar usuario">
    <br>
    <div class="row">


    <div class="col-sm-3" *ngFor="let cliente of clientes">
        <div class="card" align="center">
        <img src="{{cliente.imgUrl}}" class="card-img-top"><br>
        <small align="center">{{cliente.id}}</small>
        <div class="card-body">
        <h5 class="card-title">{{cliente.nombre}} {{cliente.Apellido}}</h5>
        <a class="card-link" [routerLink]="['/agregar-cliente/', cliente.id]">Editar</a>
        <a class="card-link text-danger">Desactivar</a>
        </div>
        </div>
    </div>


    </div>
</div>