<div class="container mt-5">
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">cliente</th>
            <th scope="col">fecha de inicio</th>
            <th scope="col">imagen</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inscripcion of inscripciones">
            <th scope="row">{{inscripcion.cliente}}</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>

        </tbody>
      </table>

</div>